---

- name: is API Gateway already present?
  stat:
    path: "{{ wso2.dir }}/wso2am-{{ wso2.version }}"
  register: __wso_is_installed
  changed_when: no
  tags:
    - always

- debug: var=__wso_is_installed
  tags:
    - debug

- debug: var=wso2
  tags:
    - debug

- name: install API Gateway
  unarchive:
    creates: "{{ wso2.dir }}/wso2am-{{ wso2.version }}"
    src: files/wso2am-{{ wso2.version }}.zip
    dest: "{{ wso2.dir }}"
    owner: "{{ wso2.user }}"
    group: "{{ wso2.user }}"
  tags:
    - install

- name: java_keystore/selfsigned
  when: wso2.external_keystore == false
  tags:
    - cfg
  import_role:
    name: java_keystore/selfsigned
  vars:
    data:
      alias: "{{ ansible_hostname }}"
      dest: "{{ wso2.dir }}/wso2am-{{ wso2.version }}/repository/resources/security/{{ ansible_hostname }}.jks"
      dn: CN={{ ansible_fqdn }}
      san: dns:{{ ansible_fqdn }}
      password: "{{ wso2.keystore_password }}"

- name: export the newly created self signed certificate
  tags:
    - cfg
  when: wso2.external_keystore == false
  import_role:
    name: java_keystore/export
  vars:
    data:
      alias: "{{ ansible_hostname }}"
      keystore: "{{ wso2.dir }}/wso2am-{{ wso2.version }}/repository/resources/security/{{ ansible_hostname }}.jks"
      dest: /etc/pki/tls/certs/{{ ansible_hostname }}.cert
      password: "{{ wso2.keystore_password }}"

- name: import the certificate into the truststore
  tags:
    - cfg
  import_role:
    name: java_keystore/import
  vars:
    data:
      alias: "{{ ansible_hostname }}"
      keystore: "{{ wso2.dir }}/wso2am-{{ wso2.version }}/repository/resources/security/client-truststore.jks"
      password: wso2carbon
      src: /etc/pki/tls/certs/{{ ansible_hostname }}.cert

- name: copy keystore
  when: wso2.external_keystore != false
  copy:
    src: "{{ playbook_dir }}/{{ wso2.external_keystore }}"
    dest: "{{ wso2.dir }}/wso2am-{{ wso2.version }}/repository/resources/security/{{ ansible_hostname }}.jks"
    owner: "{{ wso2.user }}"
    group: "{{ wso2.user }}"

- name: copy certificate
  when: wso2.external_certificate != false
  copy:
    src: "{{ playbook_dir }}/{{ wso2.external_certificate }}"
    dest: /etc/pki/tls/certs/{{ ansible_hostname }}.cert

- name: export certificate
  when: wso2.external_certificate == false
  import_role:
    name: java_keystore/export
  vars:
    data:
      alias: "{{ ansible_hostname }}"
      keystore: "{{ wso2.dir }}/wso2am-{{ wso2.version }}/repository/resources/security/{{ ansible_hostname }}.jks"
      dest: /etc/pki/tls/certs/{{ ansible_hostname }}.cert
      password: "{{ wso2.keystore_password }}"

- name: import CA certificates into the truststore
  tags:
    - cfg
  include_role:
    name: java_keystore/import
  vars:
    data:
      alias: "{{ item }}"
      keystore: "{{ wso2.dir }}/wso2am-{{ wso2.version }}/repository/resources/security/client-truststore.jks"
      password: wso2carbon
      src: /etc/pki/tls/certs/{{ item }}.cert
  with_items: "{{ wso2.cacerts }}"
  when:
    - wso2.external_ca != false

- name: import external certificate into the truststore
  tags:
    - cfg
  import_role:
    name: java_keystore/import
  vars:
    data:
      alias: "{{ ansible_hostname }}"
      keystore: "{{ wso2.dir }}/wso2am-{{ wso2.version }}/repository/resources/security/client-truststore.jks"
      password: wso2carbon
      src: /etc/pki/tls/certs/{{ ansible_hostname }}.cert
  when: wso2.external_certificate != false

- name: user-mgt.xml
  template:
    src: "{{ item }}"
    dest: "{{ wso2.dir }}/wso2am-{{ wso2.version }}/repository/conf/user-mgt.xml"
    backup: yes
    owner: "{{ wso2.user }}"
    group: "{{ wso2.user }}"
  with_first_found:
    - user-mgt.xml.j2
  notify:
    - restart apigw

- name: catalina-server.xml
  template:
    src: "{{ item }}"
    dest: "{{ wso2.dir }}/wso2am-{{ wso2.version }}/repository/conf/tomcat/catalina-server.xml"
    backup: yes
    owner: "{{ wso2.user }}"
    group: "{{ wso2.user }}"
  with_first_found:
    - catalina-server.xml.j2
  notify:
    - restart apigw
  tags:
    - cfg

- name: axis2.xml
  template:
    src: "{{ item }}"
    dest: "{{ wso2.dir }}/wso2am-{{ wso2.version }}/repository/conf/axis2/axis2.xml"
    backup: yes
    owner: "{{ wso2.user }}"
    group: "{{ wso2.user }}"
  with_first_found:
    - axis2.xml.j2
  notify:
    - restart apigw
  tags:
    - cfg

- name: api-manager.xml
  template:
    src: "{{ item }}"
    dest: "{{ wso2.dir }}/wso2am-{{ wso2.version }}/repository/conf/api-manager.xml"
    backup: yes
    owner: "{{ wso2.user }}"
    group: "{{ wso2.user }}"
  with_first_found:
    - api-manager.xml.j2
  notify:
    - restart apigw
  tags:
    - cfg

- name: carbon.xml
  template:
    src: "{{ item }}"
    dest: "{{ wso2.dir }}/wso2am-{{ wso2.version }}/repository/conf/carbon.xml"
    backup: yes
    owner: "{{ wso2.user }}"
    group: "{{ wso2.user }}"
  with_first_found:
    - carbon.xml.j2
  notify:
    - restart apigw
  tags:
    - cfg

- name: systemd unit
  template:
    src: wso2apigw.service.j2
    dest: /etc/systemd/system/wso2apigw.service
    backup: yes
  tags:
    - install

- name: apigw is running
  service:
    name: wso2apigw
    state: started
    enabled: yes
  tags:
    - cfg

- name: symlink to logfiles
  tags:
    - install
  file:
    src: "{{ wso2.dir }}/wso2am-{{ wso2.version }}/repository/logs"
    dest: /var/log/wso2apigw
    state: link

- name: firewall
  tags:
    - install
  firewalld:
    port: "{{ item }}"
    immediate: yes
    permanent: yes
    state: enabled
  with_items:
    - 9443/tcp
    - 8280/tcp
    - 8243/tcp

