# WSO2 Api Manager 
#
[Unit]
Description=WSO2 API Gateway

# If network requirement is not specified, the esb can slow down shutdown
# of the system because of timeouts towards the RDBMS running on another
# server or other dependent remote components.
Requires=network-online.target
After=network-online.target
  
[Service]
WorkingDirectory={{ wso2.dir }}/wso2am-{{ wso2.version }}

# I am not sure if this is necessary
#
CARBON_HOME = {{ wso2.dir }}/wso2am-{{ wso2.version }}

# The Type=simple approach is not safe: if a user starts the server using the 
# wso2server.sh script, systemd doens't know about it and another instance will
# be started when 'systemctl start wso2esb' is executed if the server is still running.
# Type=simple
# ExecStart=CARBON_HOME/bin/wso2server.sh
#
Environment="JAVA_HOME=/usr/java/latest"
Environment="CARBON_HOME={{ wso2.dir }}/wso2am-{{ wso2.version }}"

Type=forking

# Use WSO2 PID file; this allows to still use wso2server.sh start|stop commands
# directly from command line in combination with systemctl. 'Systemctl status' will
# not detect that wso2server.sh start has been executed directly, but will correctly
# stop the server when the system is shutdown or 'systemctl stop' is executed. Systemctl
# will also not start another instance of the server when 'systemctl start' is executed.
PIDFile={{ wso2.dir }}/wso2am-{{ wso2.version }}/wso2carbon.pid

ExecStart={{ wso2.dir }}/wso2am-{{ wso2.version }}/bin/wso2server.sh start
ExecStop={{ wso2.dir }}/wso2am-{{ wso2.version }}/bin/wso2server.sh stop

User={{ wso2.user }}
     
[Install]
WantedBy=multi-user.target
